@using ModelUNRegister.Models
@using PagedList
@using PagedList.Mvc
@model IEnumerable<EnrollListItem>

@{
    ViewBag.Title = "报名列表";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">报名列表</h3>
    </div>
    <div class="panel-body">
        <p>下面列出了所有报名信息。</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(m => m.Request.User.ActualName)</th>
                <th>@Html.DisplayNameFor(m => m.Request.Gender)</th>
                <th>@Html.DisplayNameFor(m => m.Request.Grade)</th>
                <th>@Html.DisplayNameFor(m => m.Request.SubmissionTime)</th>
                <th>回答问题</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>


            @{
                int inum = 0;
                int questionCount = ViewBag.QuestionCount;
            }
            @foreach (var req in Model)
            {
                <tr>
                    @{
                        var qreq = req.Request;
                        AnswerStatus ans = new AnswerStatus(req.AnswerCount, questionCount);
                    }
                    <th scope="row">@(inum + 1)</th>
                    <td>@Html.DisplayFor(m => qreq.User.ActualName)</td>
                    <td>@Html.DisplayFor(m => qreq.Gender)</td>
                    <td>@Html.DisplayFor(m => qreq.Grade)</td>
                    <td>@Html.DisplayFor(m => qreq.SubmissionTime, "PastDateTime")</td>
                    <td>@Html.DisplayFor(m => ans)</td>
                    <td>
                        @Html.ActionLink("详情", "EnrollDetails", new { id = qreq.RequestId }) |
                        @Html.ActionLink("删除", "Delete", new { id = qreq.RequestId })
                    </td>
                    @{
                        inum++;
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="panel-footer">
        <span class="pull-right">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("EnrollList", new { page = page }))
        </span>
        <div class="clearfix"></div>
    </div>
</div>
