@using ModelUNRegister.Models
@using ModelUNRegister.Utilities
@model EnrollViewModel
@{
    ViewBag.Title = "报名";
}

<h2>报名</h2>
<div class="row">
    <div class="col-md-8">
        <section id="createFormSection">
            @using (Html.BeginForm("Create", "Enroll", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "createForm" }))
            {
                @Html.AntiForgeryToken()
                <h4>现在报名元峰会。</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumRadioButtonFor(m => m.Gender, new { @class = "radio-primary" })
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.School, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.School, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.School, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Grade, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumRadioButtonFor(m => m.Grade, new { @class = "radio-primary" })
                        @Html.ValidationMessageFor(m => m.Grade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.QQNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.QQNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.QQNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button type="button" class="btn btn-primary btn-raised" id="baseInfoSubmit">
                            提交
                        </button>
                    </div>
                </div>

                <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="EmailModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">电子邮件地址验证</h4>
                            </div>
                            <div class="modal-body">
                                <span id="emailMessage"></span>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="确定" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section scripts {
    <script id="emailPrompt" type="x-tmpl-mustache">
        我们将向你的电子邮件地址 {{email}} 发送一封电子邮件，其中将包含一个链接，指引你填写报名问题。
    </script>
    <script>

        $("#baseInfoSubmit").click(function () {
            if ($("#createForm").valid()) {
                var template = $("#emailPrompt").html();
                Mustache.parse(template);
                var rendered = Mustache.render(template, { email: $("#Email").val()});
                $("#emailMessage").text(rendered);
                $('#emailModal').modal('show');
            }
        })
    </script>
}
