<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 元峰会</title>
    @Styles.Render("~/Content/css")
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-material-design/0.5.9/css/ripples.min.css" rel="stylesheet">
    
    <!-- Material Design fonts 中科大提供 CDN -->
    <link rel="stylesheet" type="text/css" href="//fonts.lug.ustc.edu.cn/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.lug.ustc.edu.cn/icon?family=Material+Icons">

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("元峰会", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("报名", "Create", "Enroll")</li>
                    @*<li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - t123yh</p>
        </footer>
    </div>

    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-validation-unobtrusive/3.2.5/jquery.validate.unobtrusive.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap-material-design/0.5.9/js/material.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-material-design/0.5.9/js/ripples.min.js"></script>

    <script src="//cdn.bootcss.com/mustache.js/2.2.1/mustache.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-material-design")*@

    @Scripts.Render("~/bundles/global-scripts")
    <script type="text/javascript">
        $(function () {
            $.material.init();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
